<html>
<head>
    <title>This is a test</title>
    {% block head %}{% endblock %}
</head>
<body>
{% include 'test/source/includes/header.twig' with { pageName: pageName } %}
<section>{% block content %}{% endblock %}</section>
{% include 'test/source/includes/footer.twig' with { greeting: greeting } %}
</body>
</html>
